.App {
  text-align: center;
  padding:20px;
  border-width:30px;
  border-style: double;
 color: rgb(0, 247, 255);
 background:white;
}

body { text-align: left;
    color:red ;
    background:white;
    font-size:18px;
}
h3.topic{
    text-align:left;
    font-style: italic;
}
h2.target{
    text-align:left;
    text-decoration: underline;
    font-size:20px;
    color:red
}
ul.list{
    color:black;
    text-align:left;
    font-style:italic;
    font-size:15px;
}
ul.habits{
    color:black;
    text-align:left;
    font-style:italic;
    font-size:15px;
}
h1.title{
    text-align:center;
    font-style: oblique;
    font-size:30px;
    color:black;
}
p1.body{
    text-align:left;
    font-style: italic;
    font-size:16px;
    color:rgb(98, 0, 255);
    text-decoration:underline;
}
